@page "/customers/create"

<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3">Create Customer</h4>
            <FormEditor Model="Model" OnValidSubmit="Submit" />
        </div>
    </div>
</div>